:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --accent-background: #2f303a;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/*Шапка*/
/*Логотип*/
.prelogo {
  color: var(--accent-color);
}
.logo {
  color: #000000;
}
.logo,
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
/*Навигация*/
.link-nav {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-info:hover,
.link-nav:hover,
.address-link:hover,
.footer-link:hover,
.link-info:focus,
.link-nav:focus,
.address-link:focus,
.footer-link:focus {
  color: var(--accent-color);
}
.link-info {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-nav.current {
  color: var(--accent-color);
}
/*Герой*/
.hero,
.footer {
  background-color: var(--accent-background);
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-hero {
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.button-hero:hover {
  background-color: #188ce8;
}
/*Секции*/
.features-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.text {
  font-size: 14px;
  line-height: 1.7;
}
.section,
.section-title {
  color: var(--title-color);
}
.section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.text-team {
  font-size: 16px;
  line-height: 1.18;
}
.section-team {
  background-color: #f5f4fa;
}
/*Футер*/
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-logo,
.address-link {
  color: var(--white-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

/* Портфолио*/
.button-portfolio {
  background: #f5f4fa;
  color: var(--title-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.portfolio-title {
  color: var(--title-color);
  font-weight: b700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-subject {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
}
